<a href="https://colab.research.google.com/github/hariharan1821/big_data/blob/main/Map_Reduce(19pd27).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pathfile = '/content/drive/MyDrive/sem6/big data/input.txt'

# **1**

In [ ]:
def map1(path):
  with open(path, 'r', encoding = 'utf-8', errors = 'ignore') as f:
    lines = []
    for line in f:
      lines.append(line)

  lines_map = {}
  for i in lines:
    if i not in lines_map:
      lines_map[i] = [1]
    else:
      lines_map[i].append(1)

  return lines_map

In [ ]:
def reduce1(map_dict):
  reduced_dict = []
  for i, j in map_dict.items():
    reduced_dict.append((i,len(j)))
  return reduced_dict

In [ ]:
line_map_result = map1(pathfile)
print("MAP : \n",line_map_result)

reduce_result = reduce1(line_map_result)
print("REDUCED : \n",reduce_result)

MAP :
 {'geeks for geeks is best online coding platform\n': [1], 'welcome to geeks for geeks hadoop streaming tutorial': [1]}
REDUCED :
 [('geeks for geeks is best online coding platform\n', 1), ('welcome to geeks for geeks hadoop streaming tutorial', 1)]

# **2**

In [ ]:
def map2(path):
  with open(path, 'r', encoding = 'utf-8', errors = 'ignore') as f:
    letters = []
    for line in f:
      for word in line.split():
        for letter in word:
          letters.append(letter)

  letters_map = {}
  for i in letters:
    if letter not in [',','.']:
      if i not in letters_map:
        letters_map[i] = [1]
      else:
        letters_map[i].append(1)

  return letters_map

In [ ]:
def reduce2(map_dict):
  reduced_dict = []
  for i, j in map_dict.items():
    reduced_dict.append((i,len(j)))
  return reduced_dict

In [ ]:
map_result = map2(pathfile)
print("MAP : \n",map_result)

reduce_result = reduce2(map_result)
print("REDUCED : \n",reduce_result)

MAP :
 {'g': [1, 1, 1, 1, 1, 1], 'e': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'k': [1, 1, 1, 1], 's': [1, 1, 1, 1, 1, 1, 1], 'f': [1, 1, 1], 'o': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'r': [1, 1, 1, 1, 1], 'i': [1, 1, 1, 1, 1], 'b': [1], 't': [1, 1, 1, 1, 1, 1], 'n': [1, 1, 1, 1], 'l': [1, 1, 1, 1], 'c': [1, 1], 'd': [1, 1], 'p': [1, 1], 'a': [1, 1, 1, 1], 'm': [1, 1, 1], 'w': [1], 'h': [1], 'u': [1]}
REDUCED :
 [('g', 6), ('e', 13), ('k', 4), ('s', 7), ('f', 3), ('o', 10), ('r', 5), ('i', 5), ('b', 1), ('t', 6), ('n', 4), ('l', 4), ('c', 2), ('d', 2), ('p', 2), ('a', 4), ('m', 3), ('w', 1), ('h', 1), ('u', 1)]

# **3**

In [ ]:
def map3(path):
  with open(path, 'r', encoding = 'utf-8', errors = 'ignore') as f:
    words = []
    for line in f:
      for word in line.split():
          words.append(word)

  words_map = {}
  for i in words:
    if i not in words_map:
      words_map[i] = [1]
    else:
      words_map[i].append(1)

  return words_map

In [ ]:
def reduce3(map_dict):
  reduced_dict = []
  for i, j in map_dict.items():
    reduced_dict.append((i,len(j)))
  return reduced_dict

In [ ]:
word_map_result = map3(pathfile)
print("MAP : \n",word_map_result)

reduce_result = reduce3(word_map_result)
print("REDUCED : \n",reduce_result)

MAP :
 {'geeks': [1, 1, 1, 1], 'for': [1, 1], 'is': [1], 'best': [1], 'online': [1], 'coding': [1], 'platform': [1], 'welcome': [1], 'to': [1], 'hadoop': [1], 'streaming': [1], 'tutorial': [1]}
REDUCED :
 [('geeks', 4), ('for', 2), ('is', 1), ('best', 1), ('online', 1), ('coding', 1), ('platform', 1), ('welcome', 1), ('to', 1), ('hadoop', 1), ('streaming', 1), ('tutorial', 1)]

# **4**

In [ ]:
def map4(path):
  with open(path, 'r', encoding = 'utf-8', errors = 'ignore') as f:
    words = []
    for i,line in enumerate(f):
      for word in line.split():
          words.append((word,i+1))

  words_map = {}
  for i,j in words:
    if i not in words_map:
      words_map[i] = [j]
    else:
      words_map[i].append(j)

  return words_map

In [ ]:
def reduce4(map_dict):
  reduced_dict = []
  for i, j in map_dict.items():
    reduced_dict.append((i,j))
  return reduced_dict

In [ ]:
grep_map_result = map4(pathfile)
print("MAP : \n",grep_map_result)

reduce_result = reduce4(grep_map_result)
print("REDUCED : \n",reduce_result)

MAP :
 {'geeks': [1, 1, 2, 2], 'for': [1, 2], 'is': [1], 'best': [1], 'online': [1], 'coding': [1], 'platform': [1], 'welcome': [2], 'to': [2], 'hadoop': [2], 'streaming': [2], 'tutorial': [2]}
REDUCED :
 [('geeks', [1, 1, 2, 2]), ('for', [1, 2]), ('is', [1]), ('best', [1]), ('online', [1]), ('coding', [1]), ('platform', [1]), ('welcome', [2]), ('to', [2]), ('hadoop', [2]), ('streaming', [2]), ('tutorial', [2])]

# **5**

In [ ]:
def map5(path):
  with open(path, 'r', encoding = 'utf-8', errors = 'ignore') as f:
    words = []
    index = 0
    for line in f:
      for word in line.split():
          words.append((word,index))
          index+=1


  words_map = {}
  for i,j in words:
    if i.lower() not in words_map:
      words_map[i] = [j]
    else:
      words_map[i].append(j)

  return words_map

In [ ]:
def reduce5(map_dict):
  reduced_dict = []
  for i, j in map_dict.items():
    reduced_dict.append((i,j))
  return reduced_dict

In [ ]:
index_map_result = map5(pathfile)
print("MAP : \n",index_map_result)

reduce_result = reduce5(index_map_result)
print("REDUCED : \n",reduce_result)

MAP :
 {'geeks': [0, 2, 10, 12], 'for': [1, 11], 'is': [3], 'best': [4], 'online': [5], 'coding': [6], 'platform': [7], 'welcome': [8], 'to': [9], 'hadoop': [13], 'streaming': [14], 'tutorial': [15]}
REDUCED :
 [('geeks', [0, 2, 10, 12]), ('for', [1, 11]), ('is', [3]), ('best', [4]), ('online', [5]), ('coding', [6]), ('platform', [7]), ('welcome', [8]), ('to', [9]), ('hadoop', [13]), ('streaming', [14]), ('tutorial', [15])]

# **6**

In [ ]:
path = '/content/drive/MyDrive/sem6/big data/schedules.json'
df = pd.read_json(path)
df.head()

,arrival,day,train_name,station_name,station_code,id,train_number,departure
0,None,1.0,Falaknuma Lingampalli MMTS,KACHEGUDA FALAKNUMA,FM,302214,47154,07:55:00
1,None,1.0,Thrissur Guruvayur Passenger,THRISUR,TCR,281458,56044,18:55:00
2,None,1.0,Porbandar Muzaffarpur Express,PORBANDAR,PBR,309335,19269,15:05:00
3,None,1.0,RAIPUR ITWARI PASS,RAIPUR JN,R,283774,58205,13:30:00
4,None,1.0,Gomoh-Asansol MEMU,GOMOH JN,GMO,319937,63542,07:20:00

In [ ]:
df.shape

(417080, 8)

In [ ]:
df.isnull().sum(axis = 0)

arrival             0
day             22561
train_name          0
station_name        0
station_code        0
id                  0
train_number        0
departure           0
dtype: int64

In [ ]:
df.drop(['id'], axis = 1, inplace = True)

In [ ]:
df.dtypes

arrival          object
day             float64
train_name       object
station_name     object
station_code     object
train_number     object
departure        object
dtype: object

In [ ]:
print("Total number of Trains : ",df['train_name'].nunique())
print("Total number of Stations : ",df['station_name'].nunique())

Total number of Trains :  3948
Total number of Stations :  8495

In [ ]:
d = {"trains" : df['train_name'],
     "junctions" : df['station_name']}

df2 = pd.DataFrame(d)
df2.head()

                          trains            junctions
0     Falaknuma Lingampalli MMTS  KACHEGUDA FALAKNUMA
1   Thrissur Guruvayur Passenger              THRISUR
2  Porbandar Muzaffarpur Express            PORBANDAR
3             RAIPUR ITWARI PASS            RAIPUR JN
4             Gomoh-Asansol MEMU             GOMOH JN